# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.iml
*.db

# Folders
_obj
_test
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.exe~
!upx.exe
/vfsdata/yaaw-master
/vfsdata/webui-aria2-master
/vfsdata/yaaw_vfsdata.go
/vfsdata/aria_vfsdata.go
/vfsdata/compiler.jar
